PORT=3001

UIPATH_BASE_URL=https://staging.uipath.com
UIPATH_ORG_NAME=france
UIPATH_TENANT_NAME=DefaultTenant
UIPATH_FOLDER_KEY=your-folder-key
UIPATH_FOLDER_ID=123
UIPATH_CLIENT_ID=your-client-id
UIPATH_CLIENT_SECRET=your-client-secret
UIPATH_SCOPE=OR.Execution OR.Folders OR.Jobs OR.Tasks PIMS DataFabric.Data.Read DataFabric.Schema.Read

TARGET_CASE_PROCESS_KEY=CM_Credit_MainProcess
MAINCASE_ENTITY_NAME=CM_Credit_MainCase
CASEDOCUMENTS_ENTITY_NAME=CM_Credit_CaseDocuments
